#No. 2
setwd("E:/Analisis Data")
getwd()
data<-read.csv("survey customer.CSV",sep=";",header=TRUE)
data

#Check the packaging
nrow(data)
ncol(data)
str(data)

#Look at the top and the bottom of your data
head(data)
tail(data)

#Check your “n”s
library(dplyr)
dim(data)
data_satisfaction<-data%>%filter(!is.na(Overall.Delivery.Experience))
data_satisfaction<-data%>%filter(!is.na(Quality.Food))
dim(data_satisfaction)

#Validate with at least one external data source
summary(data_satisfaction$Quality.Food)
quantile(data_satisfaction$Quality.Food,seq(0, 1, 0.1))

#Make a plot
library(ggplot2)
ggplot(data_satisfaction,aes(Quality.Food,Overall.Delivery.Experience))+geom_abline(colour="green")

#Try the easy solution first
summary(data_satisfaction)
ggplot(data_satisfaction,aes(Quality.Food))+geom_boxplot(colour="red")

#Follow up
y=data_satisfaction$Overall.Delivery.Experience
x=data_satisfaction$Quality.Food
lm(y~x,data=data_satisfaction)
model=lm(y~x)
summary(model)

#No. 3
ggplot(data_satisfaction,aes(x=Overall.Delivery.Experience))+geom_histogram(aes(y=..density..),fill="orange",bins=10,color="red",alpha=0.7)+stat_function(fun=dnorm,args=list(mean(data_satisfaction$Overall.Delivery.Experience,na.rm=TRUE)),color="purple",siize=1.5)+labs(title = "Histogram Data",x="Overall Delivery Experience",y="Density")+theme_minimal()
